
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        @apply text-2xl;
    }
    h1,
    h2,
    h3{
        @apply font-kaiseiTokumin font-bold;
    }
    p{
        @apply font-notoSans text-base ;
    }
}

:root {
    --color-primary: 242, 220, 105;
    --color-secondary: 115, 98, 116;
    --color-tertiaire: 250, 228, 171;
    --color-quaternary: 30, 56, 70;
    --color-background: 51, 36, 46;
    --color-offWhite: 252, 252, 253;

    --color-linearColor: linear-gradient(257deg, rgba(252, 252, 253, 0.04) 4.68%, rgba(255, 255, 255, 0.00) 70.6%);
    
    scroll-behavior: smooth;

}

* {
    font-family: 'Noto Sans';
    color: rgba(var(--color-tertiaire), 1);
}

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* If the user prefers light mode, 
  we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
    html {
        color-scheme: dark;
    }
}
