@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Kaisei Tokumin;
    src: url("https://fonts.googleapis.com/css?family=Kaisei Tokumin");
}

:root {
    --color-primary: #F2DC69;
    --color-secondary: #736274;
    --color-tertiaire: #FAE4AB;
    --color-quaternary: #1E3846;
    --color-background: #33242E;
    --color-offWhite: 252, 252, 253;

    --color-linearColor: linear-gradient(257deg, rgba(252, 252, 253, 0.04) 4.68%, rgba(255, 255, 255, 0.00) 70.6%);

}

* {
    font-family: 'Kaisei Tokumin';
    color: var(--color-tertiaire);
}

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* If the user prefers light mode, 
  we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
    html {
        color-scheme: dark;
    }
}